**Pandas**

Pandas is the primary package for performing data analysis tasks in Python. pandas derives its name from <b>PANel Data AnalysiS</b> and is the fundamental package that provides <b>relational data structures (think Excel, SQL type) and a host of capabilities to play with those data structures</b>. It is the most widely used package in Python for data analysis tasks, and is very good to work with <b>cross sectional, time series, and panel data analysis</b>. Python sits on top of NumPy and can be used with NumPy arrays and the functions in NumPy. How is pandas suited for a researcher’s needs:
<i>
+ Has a tabular data structure that can hold both <b>homogenous and heterogenous data</b>.
+ Very <b>good indexing capabilities</b> that makes data alignment and merging easy.
+ Good <b>time series functionality</b>. No need to use different data structures for time series and cross sectional data. Allows for both <b>ordered and unordered time-series data</b>.
+ A host of <b>statistical functions</b> developed around NumPy and pandas that makes a researcher’s task easy and fast.
+ Programming is lot <b>simpler and faster</b>.
+ Easily handles <b>data manipulation and cleaning</b>.
+ Easy to expand and shorten data sets. <b>Comprehensive merging, joins, and group by functionality to join multiple data sets</b>.
</i>

**Installing pandas** 

In order to check if pandas is installed, go to Package Manager and type pandas. By default, pandas already comes installed with a distribution of Canopy. If the package is not installed, click on Install.

**Importing pandas**

In order to be able to use NumPy, first import it using import statement

In [1]:
import pandas as pd                         # This will import pandas into your workspace

In [2]:
import numpy as np                          # We will be using numpy functions so import numpy

**Data Structures in pandas**

There are two basic data structures in pandas: <b><i>Series and DataFrame</i></b>

**Series:** It is similar to a NumPy 1-dimensional array. In addition to the values that are specified by the programmer, <b>pandas attaches a label to each of the values</b>. If the labels are not provided by the programmer, then pandas assigns labels ( 0 for first element, 1 for second element and so on). A benefit of assigning labels to data values is that it becomes easier to perform manipulations on the dataset as the whole dataset becomes more of a dictionary where each value is associated with a label.

In [5]:
series1 = pd.Series([10,20,30,40])
series1

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
series1.values

array([10, 20, 30, 40], dtype=int64)

In [8]:
series1.index

RangeIndex(start=0, stop=4, step=1)

<b>If you want to specify custom index values rather than the default ones provided, you can do so using the following command</b>

In [4]:
series2=pd.Series([10,'20',30,40,50], index=[1,2,3,4,5])
series2

1    10
2    20
3    30
4    40
5    50
dtype: object

In [8]:
pd.show_versions(as_json=False)

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.1.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.4
pytest: 4.0.2
pip: 18.1
setuptools: 40.6.3
Cython: 0.29.2
numpy: 1.15.4
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 7.2.0
sphinx: 1.8.2
patsy: 0.5.1
dateutil: 2.7.5
pytz: 2018.7
blosc: None
bottleneck: 1.2.1
tables: 3.4.4
numexpr: 2.6.8
feather: None
matplotlib: 3.0.2
openpyxl: 2.5.12
xlrd: 1.2.0
xlwt: 1.3.0
xlsxwriter: 1.1.2
lxml: 4.2.5
bs4: 4.6.3
html5lib: 1.0.1
sqlalchemy: 1.2.15
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

If you have a dictionary, you can <b>create a Series data structure from that dictionary</b>. Suppose you are interested in EPS values for firms and the <i>values come from different sources and is not clean. In that case you dont have to worry about cleaning and aligning those values</i>.

**Dataframe:**

DataFrame is a <b>tabular data structure</b> in which data is laid out in <b>rows and column</b> format (similar to a CSV and SQL file), but it can also be <b>used for higher dimensional data</b> sets. The DataFrame object can contain homogenous and heterogenous values, and can be thought of as a logical extension of Series data structures. In contrast to <u>Series</u>, where there is <b>one index</b>, a <u>DataFrame</u> object has <b>one index for column and one index for rows</b>. This allows flexibility in accessing and manipulating data.

In [8]:
data = pd.DataFrame({'price':[95, 25, 85, 41, 78],
                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],
                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart']})
print(data)

   price ticker           company
0     95    AXP  American Express
1     25   CSCO             Cisco
2     85    DIS       Walt Disney
3     41   MSFT         Microsoft
4     78    WMT           Walmart

In [9]:
data.iloc[1:3,1:3]

  ticker      company
1   CSCO        Cisco
2    DIS  Walt Disney

In [12]:
data.loc[2:3,'ticker':'company']

  ticker      company
2    DIS  Walt Disney
3   MSFT    Microsoft

In [11]:
data.ix[2:3,'price':'company']

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   price ticker      company
2     85    DIS  Walt Disney
3     41   MSFT    Microsoft

***If a column is passed with no values, it will simply have NaN values***

In order to access a column, simply mention the column name

In [13]:
data['company']                          # Print only company names

0    American Express
1               Cisco
2         Walt Disney
3           Microsoft
4             Walmart
Name: company, dtype: object

In [14]:
data.company                            # Another way to print only company names

0    American Express
1               Cisco
2         Walt Disney
3           Microsoft
4             Walmart
Name: company, dtype: object

In [15]:
print (data.ix[3])                              # Print the row corresponding to the given Index

price             41
ticker          MSFT
company    Microsoft
Name: 3, dtype: object

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [16]:
data.ix[data.ticker=='DIS']            # Print the row corresponding to the ticker that is 'DIS'

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   price ticker      company
2     85    DIS  Walt Disney

In [17]:
data['Year'] = 2014                       # Add additional column Year. Populate value of 2014 in all the rows.
data

   price ticker           company  Year
0     95    AXP  American Express  2014
1     25   CSCO             Cisco  2014
2     85    DIS       Walt Disney  2014
3     41   MSFT         Microsoft  2014
4     78    WMT           Walmart  2014

In [18]:
data['pricesquared'] = data.price**2      # Square all the prices and add another column 'pricesquared'.
data

   price ticker           company  Year  pricesquared
0     95    AXP  American Express  2014          9025
1     25   CSCO             Cisco  2014           625
2     85    DIS       Walt Disney  2014          7225
3     41   MSFT         Microsoft  2014          1681
4     78    WMT           Walmart  2014          6084

In [19]:
del data['pricesquared']                  # Delete column 'pricesquared'
data

   price ticker           company  Year
0     95    AXP  American Express  2014
1     25   CSCO             Cisco  2014
2     85    DIS       Walt Disney  2014
3     41   MSFT         Microsoft  2014
4     78    WMT           Walmart  2014